<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@trip.errors.count, "error") %>
      prohibited this account from being saved:
    </h2>

    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Add a new trip:</h1>

<%= render partial: "form", locals: {trip: @trip} %> 
