<h1>Welcome to the Explorers Unite app!</h1>

<h2>On this site, you can share the trips you've been on and what you thought of them.</h2><br>

<h2>You can see what trips other people have gone on, to get inspiration for your own adventures.</h2>

<h2>By joining, you are entering a community of explorers and those who love entering new places, immersing themselves in other cultures, and have a zeal for the undiscovered country.</h2>

<h3>Already a member? <%= link_to "Log In", '/login'%></h3>

<h3>Unite with other Explorers today! <%= link_to "Sign Up", new_user_path%></h3>

<h4><%=link_to('Log in with Facebook!', '/auth/facebook')%></h4>

<% if current_user %>
<h4>You are logged in</h4>
<% end %> 
