<h1>All the countries our Explorers have visited!</h1><br>
<h2>Click a country to see the trips that have gone there.</h2><br>

<% @countries.each do |country| %>
<%= link_to country.name.upcase, country_path(country) %><br>
<% end %>

<br>
<br>
<%= link_to "Back to all trips", users_path %><br>
<%= link_to "Log Out", logout_path %><br>
