<h1>All the countries' our Explorers have visited!</h1>

<%= @country.name %><br>

<% @country.trips.each do |trip| %>
  <%= link_to trip.user.name, user_path(trip.user) %><br>
  <%= trip.comment %>  <br>
  <% end %>
