/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 body {
 	margin: 0;
 	padding: 0;
  background-color: #256;
 }

 button {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	background: none;
 	font-size: 100%;
 	vertical-align: baseline;
 	font-family: inherit;
 	font-weight: inherit;
 	color: inherit;
 	-webkit-appearance: none;
 	appearance: none;
 	-webkit-font-smoothing: antialiased;
 	-moz-font-smoothing: antialiased;
 	font-smoothing: antialiased;
 }

 body {
 	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	line-height: 1.4em;
 	background: #f5f5f5;
 	color: purple;
 	min-width: 230px;
 	max-width: 550px;
 	margin: 0 auto;
 	-webkit-font-smoothing: antialiased;
 	-moz-font-smoothing: antialiased;
 	font-smoothing: antialiased;
 	font-weight: 300;
 }

 button,
 input[type="checkbox"] {
 	outline: none;
 }

 .hidden {
 	display: none;
 }
